@font-face {
    font-family: "horror";
    src: url("font/DoubleFeature20.ttf");
}

@font-face {
    font-family: "beurk";
    src: url("font/Beurk___.ttf");
}

@font-face {
    font-family: 'AllanBold';
    src: url('font/allan-bold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'king';
    src: url('font/king.ttf');
}


.logo1 img{
    text-shadow: 1px 0 0 purple,
    -1px 0 0 purple, 
    0 1px 0 purple, 
    0 -1px 0 purple, 
    1px 1px purple, 
    -1px -1px 0 purple, 
    1px -1px 0 purple, 
    -1px 1px 0 purple;
}

body {
    background-color: rgb(156, 40, 50);
    font-family: 'king', Arial, verdana;
}

h1{
    font-family: "horror", sans-serif;
    font-size: 70px;
    text-align: center;
    color: rgb(114, 155, 80);
    text-shadow: 8px 0 0 black,
                -8px 0 0 black, 
                0 8px 0  black, 
                0 -8px 0 black, 
                4px 4px black, 
                -4px -4px 0 black, 
                4px -4px 0 black, 
                -4px 4px 0 black;
    transform: rotate(-10deg);
    margin-bottom: 45px;
    letter-spacing: 6px;
}
h3{
    font-family: "king", sans-serif;
    text-align: center;
    color: green;
    text-shadow: 2px 0 0 black,
                -2px 0 0 black, 
                0 2px 0  black, 
                0 -2px 0 black, 
                1px 1px black, 
                -1px -1px 0 black, 
                1px -1px 0 black, 
                -1px 1px 0 black;
    letter-spacing: 6px;
}

.title-article{
    color: green;
    font-family: "beurk", sans-serif;
}

.user-note{
    font-size: 1.25em;
    font-weight: normal;
    font-family: Arial;
    border: 1px solid black;
    background: green;
    color: white;
}

.rate{
    color: whitesmoke;
    font-size: 10px;
}

.created{
    color: grey;
    font-size: 10px;
}

.texte-article img{
    box-shadow: 2px 2px 2px rgb(110, 15, 15);
}

.separation{
    background: white;
}

.fa-hamburger{
    color: rgb(114, 155, 80);
}

.bigtitle {
    background-color: rgb(255, 178, 51);
}

.navbar {
    background-color: rgb(0, 0, 0);
}
.navbar-nav > li > a {
    color: rgb(255, 178, 51);
}
.navbar-nav > li > a:hover {
    background-color: rgb(114, 155, 80);
    border-radius: 5px;
    color : white;
}
form > .btn {
    color: rgb(255, 178, 51);
    border: 1.5px solid rgb(114, 155, 80);
}
form > .btn:hover {
    background-color: rgb(114, 155, 80);
    border-radius: 5px;
    color : white;
}

.nav-item {
    border-radius: 5px;
    border: 1.5px solid rgb(114, 155, 80);
}
.nav-item > a {
    font-size: 1.2rem;
}

.article {
    background-color: rgb(255, 255, 255);
}

.texte-article, .footer-article{
    border: rgb(110, 15, 15) 1px solid;
}

aside{
    background: #ffffff;
}


#myBtn {
    display: none;
    background-image: url('image/scrolltotop.jpg');
    position: fixed;
    bottom: 20px;
    left: 0px;
    z-index: 99;
    font-size: 18px;
    border: none;
    padding-top: 30px;
    padding-right: 11px;
    border-radius: 4px;
}
