@font-face {
    font-family: "horror";
    src: url("font/DoubleFeature20.ttf");
}

@font-face {
    font-family: "beurk";
    src: url("font/Beurk___.ttf");
}

/* *{
    border: blue 1px dotted;
} */

.logo1 img{
    text-shadow: 1px 0 0 purple,
    -1px 0 0 purple, 
    0 1px 0 purple, 
    0 -1px 0 purple, 
    1px 1px purple, 
    -1px -1px 0 purple, 
    1px -1px 0 purple, 
    -1px 1px 0 purple;
}

body {
    background-color: rgb(110, 15, 15);
}

h1{
    font-family: "horror", sans-serif;
    font-size: 70px;
    text-align: center;
    color: green;
    text-shadow: 8px 0 0 black,
                -8px 0 0 black, 
                0 8px 0  black, 
                0 -8px 0 black, 
                4px 4px black, 
                -4px -4px 0 black, 
                4px -4px 0 black, 
                -4px 4px 0 black;
    transform: rotate(-10deg);
    margin-bottom: 45px;
    letter-spacing: 6px;
}

.title-article{
    color: green;
    font-family: "beurk", sans-serif;
}

.user-note{
    font-size: 1.25em;
    font-weight: normal;
    font-family: Arial;
    border: 1px solid black;
}

.rate{
    color: grey;
    font-size: 10px;
}

.fa-hamburger{
    color: green;
    text-shadow: 2px 0 0 yellow,
    -2px 0 0 yellow, 
    0 2px 0 yellow, 
    0 -2px 0 yellow, 
    2px 2px yellow, 
    -2px -2px 0 yellow, 
    2px -2px 0 yellow, 
    -2px 2px 0 yellow;
}

.bigtitle {
    background-color: rgb(214, 214, 20);
}

.navbar {
    background-color: rgba(0, 0, 0, 1);
}
/*
.nav-item {
    border-radius: 10px;
    border: 2px solid green;
    margin: 2px auto;
    width: 120px;
}*/

.article {
    background-color: rgb(255, 255, 255);
}

.texte-article, .footer-article{
    border: rgb(110, 15, 15) 1px solid;
}

aside{
    background: #ffffff;
}
